<a href="https://colab.research.google.com/github/DiraMawarni/Data-Science-Course-Assigment/blob/main/Latihan_2_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Latihan (1)**

In [23]:
# Install modul kaggle secara inline (di dalam notebook)
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [25]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 67 bytes

In [26]:
# Mencari dataset yang tersedia di kaggle --> pilih data provider dari UCIML
!kaggle datasets list -s Students-Adaptability-Level-in-Online-Education

ref                                                                            title                                            size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------------------------------------------------------  -----------------------------------------------  ----  -------------------  -------------  ---------  ---------------
datasets/mdmahmudulhasansuzan/students-adaptability-level-in-online-education  Students Adaptability Level in Online Education   6KB  2022-04-16 04:46:28            877         37  1.0

In [5]:
# Download dan ekstrak dataset, secara default akan berada dalam satu direktori dengan notebook ini
!kaggle datasets download mdmahmudulhasansuzan/students-adaptability-level-in-online-education --unzip

Downloading students-adaptability-level-in-online-education.zip to /content
  0% 0.00/6.43k [00:00<?, ?B/s]
100% 6.43k/6.43k [00:00<00:00, 2.99MB/s]

# **Latihan (2)**

Lakukan import Library Pandas dan Library Numpy

In [8]:
#Latihan(2)
#Import Library Pandas

import pandas as pd

#Import Library Numpy

import numpy as np

# **Latihan (3)**

In [10]:
#latihan(3)
#Panggil file (load file bernama students-adaptability-level-in-online-education.csv) dan simpan dalam dataframe Lalu tampilkan 5 baris awal dataset dengan function head()

df = pd.read_csv("/content/students_adaptability_level_online_education.csv")
df.head(5)

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

# **Latihan (4)**

In [11]:
#latihan(4)
#Tampilkan tipe data dari kolom yang ada pada dataset
df.dtypes

Gender                 object
Age                    object
Education Level        object
Institution Type       object
IT Student             object
Location               object
Load-shedding          object
Financial Condition    object
Internet Type          object
Network Type           object
Class Duration         object
Self Lms               object
Device                 object
Adaptivity Level       object
dtype: object

# **Latihan (5)**

In [12]:
#Latihan (5)
#Tipe Data dari kolom yang ada di dataset

#Kolom "Gender" memiliki tipe data =                  object
#Kolom "Age" memiliki tipe data =                     object
#Kolom "Education Level" memiliki tipe data =         object
#Kolom "Institution Type" memiliki tipe data =        object
#Kolom "IT Student" memiliki tipe data =              object
#Kolom "Location" memiliki tipe data =                object
#Kolom "Load-shedding" memiliki tipe data =           object
#Kolom "Financial Condition" memiliki tipe data =     object
#Kolom "Internet Type" memiliki tipe data =           object
#Kolom "Network Type" memiliki tipe data =            object
#Kolom "Class Duration" memiliki tipe data =          object
#Kolom "Self Lms" memiliki tipe data =                object
#Kolom "Device" memiliki tipe data =                  object
#Kolom "Adaptivity Level" memiliki tipe data =        object

# **Latihan (6)**

In [13]:
#Latihan (6)
#Hitung ukuran (jumlah baris dan kolom) dari dataset

df.shape

(1205, 14)

# **Latihan (7)**

In [14]:
#Latihan (7)

#Jumlah Baris pada dataset adalah =  1205

#Jumlah kolom pada dataset adalah =  14

# **Latihan (8)**

In [16]:
#Latihan (8)
#Tampilkan data untuk kolom "age" dan kolom "gender" dalam bentuk dataframe

df[["Age","Gender"]]

        Age Gender
0     21-25    Boy
1     21-25   Girl
2     16-20   Girl
3     11-15   Girl
4     16-20   Girl
...     ...    ...
1200  16-20   Girl
1201  16-20   Girl
1202  11-15    Boy
1203  16-20   Girl
1204  11-15   Girl

[1205 rows x 2 columns]

# **Latihan (9)**

Tampilkan data dengan dataframe, dan data yang ditampilkan adalah data pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

In [17]:
#Latihan (9)
#Tampilkan data dengan dataframe, dan data yang ditampilkan adalah baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

df.loc[0:9]

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low
5,Boy,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Low
6,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Wifi,4G,0,No,Mobile,Low
7,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
8,Boy,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
9,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate

# **Latihan (10)**

In [18]:
#Latihan (10)
#Tampilkan data hanya kolom "age" dan kolom "gender", pada baris dengan indeks 11 (nol) sampai dengan indeks 15 (sembilan)

df.loc[11:15, ['Age', 'Gender']]

      Age Gender
11  16-20   Girl
12  11-15    Boy
13  16-20   Girl
14  11-15   Girl
15  11-15    Boy

# **Latihan (11)**

In [19]:
#Latihan (11)
#Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe

df.head(8)

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low
5,Boy,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Low
6,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Wifi,4G,0,No,Mobile,Low
7,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate

# **Latihan (12)**

In [20]:
#Latihan (12)
#Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe

df.tail(3)

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
1202,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1204,Girl,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate

# **Deskripsi Statistik Data**

DataFrame method describe() menampilkan statistik dasar setiap kolom data yang bertipe numerik, mencakup banyaknya data (count), rerata aritmetik (mean), simpangan baku (std), nilai terkecil (min), kuartil pertama (25%), kuartil kedua/median (50%), kuartil ketiga (75%), dan nilai terbesar (max).

# **Latihan (13)**

In [22]:
#Latihan (13)
#Hitung korelasi dataset

df.corr()

Empty DataFrame
Columns: []
Index: []